@media screen and (max-width: 780px){
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        justify-content: space-around;
    }

    .rodapePrincipal-contatoForm fieldset {
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        text-align: center;
    }

    .headerPrincipal .container {
        flex-direction: column;
        justify-content: space-between;
    }

    .headerPrincipal-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

}